html,
body,
header,
#home,
#ourservice,
#service,
#aboutus,
#project,
#customer,
#contact,
#footer {
  font-family: "Athiti", sans-serif;
}

html,
body,
header,
#home,
#service,
#project,
#contact {
  min-height: 100vh;
}

#service,
#customer,
#aboutus {
  min-height: 60vh;
}

html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}

#ourservice {
  min-height: 30vh;
}

.site-blocks-cover {
  min-height: 100vh;
}

.text-header {
  color: rgba(30, 103, 147, 1);
}

.text-head-content {
  color: black;
}

.nav-link {
  color: white !important;
}

@media only screen and (max-width: 990px) {
  #home {
    min-height: 100%;
    background-attachment: scroll !important;
    background-size: cover;
  }
}

#home {
  background: url("../img/wallpaper/housenew.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutus {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#service,
#ourservice,
#project,
#customer {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact {
  background-color: #f8f9fa !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
  padding: 35px 10px;
  /* transition: 0.8s; */
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;
}

.right-navbar {
  margin-right: 20px;
}

.font-black {
  color: black !important;
  transition: 2s;
}

.shadow-navbar {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

a.nav-link span {
  font-size: 20px;
  font-family: "Athiti", sans-serif;
}

.home-content {
  font-weight: 900;
  font-size: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading-weight {
  /* font-weight: 600; */
  color: white;
}

.dropdown-menu {
  min-width: 2rem !important;
}

.rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.padding-page {
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
}

.padding-page-none-top {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
}

.padding-page-none-bottom {
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

.container-grid {
  max-width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.container-grid .box {
  color: #929796;
  background: #333;
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}

.container-grid .box:hover {
  background: #e91e63;
}

.container-grid .box h4 {
  color: white;
  font-weight: 600;
}

.container-grid .box p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
}

.container-grid .box .content div {
  height: 180px;
}

.container-grid .box img {
  max-width: 150px;
}

.container-grid .box:nth-child(1) {
  grid-column: span 3;
  grid-row: span 1;
}

.container-grid .box:nth-child(2),
.container-grid .box:nth-child(3),
.container-grid .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 3;
}

@media (max-width: 991px) {
  .container-grid {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .container-grid .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
  .heading {
    margin-top: 0rem;
  }

  .text-heading {
    margin-top: 8px;
    font-size: 24px;
  }

  .home-content {
    font-weight: 900;
    font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .divider {
    margin: 3rem 0;
  }
  .padding-page {
    padding-top: 90px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
  }
  .heading {
    margin-top: 0rem;
  }
  .pic-customer {
    height: 150px;
  }
}

.divider {
  margin: 5rem 0;
}

.divider-none-bottom {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.text-heading {
  float: right;
  margin: 10px;
  margin-left: 20px;
  font-size: 36px;
}

.footer {
  padding: 1rem 0;
}

.sub-title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footHr {
  height: 1px;
  color: #333;
  background-color: #333;
  border: none;
}

.bg-footer {
  background-color: #212121;
}

.low-padding {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

.a-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.a-link:hover {
  text-decoration: none;
  color: #929796;
}

.head-text-footer {
  color: white;
  font-size: 18px;
}
