html,
body,
header,
#home,
#ourservice,
#service,
#aboutus,
#project,
#customer,
#contact {
  font-family: "Athiti", sans-serif;
}

html,
body,
header,
#home,
#service,
#project,
#customer,
#contact {
  min-height: 100vh;
}

#ourservice,
#aboutus {
  min-height: 30vh;
}

html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}

#service {
  min-height: 50vh;
}

.site-blocks-cover {
  min-height: 100vh;
}

.text-head-content {
  /* color: rgb(76, 100, 133); */
  color: black;
}

.nav-link {
  color: white !important;
}

#home {
  background: url("../img/Background/house_new.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#service {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutus {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#project {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#customer {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact {
  background-color: #f8f9fa !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
  padding: 25px 10px;
  transition: 0.6s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

a.nav-link span {
  font-size: 20px;
  font-family: "Athiti", sans-serif;
  color: white;
}

.home-content {
  font-weight: 900;
  font-size: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading-weight {
  font-weight: 600;
}

.dropdown-menu {
  min-width: 2rem !important;
}

.rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.padding-page {
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
}

.padding-page-none-top {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
}

.container-grid {
  max-width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.container-grid .box {
  color: #929796;
  background: #333;
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}

.container-grid .box:hover {
  background: #e91e63;
}

.container-grid .box h4 {
  color: white;
  font-weight: 600;
}

.container-grid .box p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
}

.container-grid .box .content div {
  height: 180px;
}

.container-grid .box img {
  max-width: 150px;
}

.container-grid .box:nth-child(1) {
  grid-column: span 3;
  grid-row: span 1;
}

.container-grid .box:nth-child(2),
.container-grid .box:nth-child(3),
.container-grid .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 3;
}

@media (max-width: 991px) {
  .container-grid {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
  .container-grid .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}

.divider {
  margin: 5rem 0;
}

.divider-none-bottom {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.text-heading {
  float: right;
  margin: 10px;
  margin-left: 20px;
  font-size: 36px;
}

@media (max-width: 991px) {
  .heading {
    margin-top: 0rem;
  }

  .text-heading {
    margin-top: 8px;
    font-size: 24px;
  }

  .home-content {
    font-weight: 900;
    font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .divider {
    margin: 3rem 0;
  }
  .padding-page {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .heading {
    margin-top: 0rem;
  }
}

.footer {
  padding: 1rem 0;
}

.sub-title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: 700;
  color: #4c6485;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
